@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

html{
    font-family: 'Roboto', sans-serif;
}
/* body{

} */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: cadetblue;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
.logo{
    color: plum;
    font-size: 20px;
    font-weight: 700;
}

#navbarList{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbarList li{
    padding: 0 20px;
    list-style: none;
    
}

#navbarList li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: plum;
    transition: 0.5s ease;
}
#navbarList li a:hover{
    color:aqua;

}

#shopNow{
    background-image: url("https://media.istockphoto.com/id/1423554620/photo/beautiful-emotional-woman.jpg?s=612x612&w=0&k=20&c=Lasup_vQtkSCtnTOfV--n-dkAJ5EsI4_ilL2ZYZetwc=");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
#shopNow h4{
    padding-bottom: 15px;
}
#shopNow h2{
    color: darkturquoise;
}
#shopNowBtn{
    background-color: lightskyblue;
    color: aliceblue;
    border-radius: 45%;
    border: none;
}
.sectFeatures{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
}

#h1Title{
    color: olive;
    text-align: center;
    margin-top: 20px;
}

#features .fe-box {
    width:180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;;
}
img{
    width: 150px;
}

#features .fe-box:hover{
    box-shadow: 10px 10px 60px rgba(44, 35, 227, 0.7);
}
#features .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: cyan;
    background-color: bisque;
}

.row{
    padding: 2%;
}
.card 
{
  transition: .4s all ease-in;
  border: none;
  
}

.carousel-control-next-icon 
{
  padding: 0 4px 0 0; 
}
.product_price 
{
  float:right;
  font-family: lato;
	color:#6b7270;
	font-size: 20px;
	font-weight:400;
}


.product-detail {
  position: absolute;
  height: 75px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
  padding: 15px;
  background-color: rgba(223, 217, 217, 0.75);
  transition: all 0.35s;
  text-align: center;
box-sizing: border-box;
}
.card .product-detail h5
{
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
 
}

.card .product-detail .subheading {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(0,0,0,0.6);
}

.card .product-detail blockquote 
{
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1em;
  
}
.card:hover .product-detail {
  height: calc(92%);
  padding-top: 100px;
}

.name {
    font-size: 16px;
    color: #e83d16 !important;
    font-weight: 500
}

.navbar-toggler {
    font-size: 15px
}

.nav-link {
    font-size: 14px;
    color: #000 !important;
    font-weight: bold;
    margin-left: 40px
}

.form-control {
    height: 32px;
    width: 100%;
    border-radius: 20px;
    color: #c7c6cb;
    font-size: 13px;
    border: none
}

.searchitem {
    position: relative
}

.searchitem i {
    position: absolute;
    right: 18px;
    top: 10px;
    font-size: 13px
}

.btn {
    height: 35px;
    width: 170px;
    border: none;
    border-radius: 20px;
    background-color: #633a9c;
    font-size: 14px;
    font-weight: 500
}
#productsCategories {
    display: flex;
    list-style: none; 
    padding: 0; 

}

#productsCategories li {
    margin-right: 20px; 
}
